body {
  background-color: #f7e4dc;
  color: #787878;
  font-family: 'Roboto', sans-serif;
}

.carrot {
  background: #f8e4dc;
  border-radius: 50%;
  border: 1px solid #e1cfc8;
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
}

.container {
  padding: 30px 0 40px 0;
}

.waves-light.btn {
  background-color: #e46422;
}

.waves-light.btn:hover {
  background-color: #ff8342;
}

.page-footer {
  background-color: #a8b080;
}

.card {
  background-color: #ffede6;
}

.select-wrapper + label {
  top: -10px;
}

.uploadcare--widget__button {
  background-color: #26a69a;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: .5px;
  overflow: hidden;
  position: relative;
  transition: .3s ease-out;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  z-index: 1;
}